.controlPanel {
	display: flex;
	justify-content: space-between;
	width: 500px;
	height: 30px;
	border-radius: 5px 5px 0 0;
	background-color: rgb(227, 227, 227);
}

.search {
	flex-grow: 1;
	border: 2px solid rgb(227, 227, 227);
	border-radius: 5px;
}

.sortingButton {
	border: 2px solid rgb(227, 227, 227);
}

.addButton {
	border: 2px solid rgb(227, 227, 227);
	border-radius: 7px;

	background-color: white;
}
